@font-face {
  font-family: "IranSans";
  src: url("./fonts/IRANSansXFaNum-RegularD4.ttf");
}

@font-face {
  font-family: "IranSans-bold";
  font-weight: normal!important;
  src: url("./fonts/IRANSansXFaNum-BoldD4.ttf");
}

@font-face {
  font-family: "IranSans-black";
  src: url("./fonts/IRANSansXFaNum-BlackD4.ttf");
}

@font-face {
  font-family: "IranSans-extraBold";
  src: url("./fonts/IRANSansX-ExtraBoldD4.ttf");
}
